{{define "layout1"}}
<footer>
    <div class="footer">
        <div class="logo">
            <img src="/statics/images/LOGO.png" alt="bg-image">
        </div>
        <div class="copyrigth">
         <span class="footer-title">
            justice league
        </span>   
        All rigth reserved .2023
        </div>
    </div>
</footer>
{{end}}