{{ define "layout"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/statics/css/style.css">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="../images/LOGO.png"><img src="/statics/images/LOGO.png" alt=""></a>
        </div>
        <div class="links">
            <a href="" class="sbcr">Subscribe</a>
            <a href="" class="join">Join us</a>
        </div>
    </nav>

    {{template "content" .}}
    {{template "layout1" .}}
    


</body>
<script src="./js/script.js"></script>
</html>
{{end}}