{{template "layout" .}}
{{ define "content"}}
    <main class="main-home">
        <section class="sc-user-info">
            <div class="profil">
                <div class="profil-photo"> <img src="/statics/images/Transhumans Astro.png" alt=""></div>
                <p class="user-name">Le peul froussard</p>
                <div class="dcn-btn">
                    <p>Disconnet</p>
                </div>
            </div>
            <div class="user-ac">
                <div>New Post</div>
                <div>Liked post</div>
                <div>Navigation history</div>
            </div>
        </section>
        <section class="sc-post">
            <div class="filter">
                <div class="filter-btn">
                    <div><img class="icone" src="/statics/images/icones/clock.svg" alt=""></div>
                    <div>Created</div>
                </div>
                <div class="filter-btn">
                    <div><img class="icone" src="/statics/images/icones/arrow-up-right.svg" alt=""></div>
                    <div>Most liked</div>
                </div>
                <div class="filter-btn">
                    <div><img class="icone" src="/statics/images/icones/check-circle.svg" alt=""></div>
                    Categories
                </div>
            </div>
            <div class="posts pc">
                <div class="post-teaser">
                    <div class="head">
                        <div class="ctn">
                            <div class="img">
                                <img src="/statics/images/Ava.png" alt="">
                            </div>
                            <div class="nm-tm">
                                <p>Golanginya</p>
                                <p class="cm-time">5 min ago</p>
                            </div>
                        </div>
                        <div class="feather">
                            <p>.</p>
                            <p>.</p>
                            <p>.</p>
                        </div>
                    </div>
                    <div class="text-area">
                        <p class="cmt-title" > <a href="home2.html">How to path KDE on FreeBSD?</a></p>
                        <p class="cmt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat aliquet maecenas ut sit nulla</p>
                    </div>
                    <div class="submenu">
                        <div class="sb-tags">
                            <div class="sb-tags-l like">
                                <div><img src="/statics/images/icones/Heart.svg" alt=""></div>
                                <div>12</div>
                            </div>
                            <div class="sb-tags-l">
                                <div><img src="" alt=""></div>
                                <div>Dislike</div>
                            </div>
                            <div class="sb-tags-l">
                                <div><img src="/statics/images/icones/Chat.svg" alt=""></div>
                                <div>Comment</div>
                            </div>
                        </div>
                        <div class="activity">
                            <div><img src="/statics/images/icones/message-square.svg" alt=""></div>
                            <div>15</div>
                        </div>
                    </div>
                    <div class="cmts-ct">  <!-- frame 20 -->
                        <div class="cmt-ct"> <!-- frame 21-->
                            <div class="usr-cmt-photo"><img src="/statics/images/Ava.png" alt=""></div> <!-- ava -->
                            <div class="comment"> <!-- frame 22-->
                                <div class="cmt-head">
                                    <p>Golanginya</p>
                                    <p class="cm-time">5 min ago</p>
                                </div>
                                <div class="cmt-text">
                                    <p class="cmt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat aliquet maecenas ut sit nulla.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat aliquet maecenas ut sit nullaLorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat aliquet maecenas ut sit nulla.consectetur adipiscing elit. Consequat aliquet maecenas ut sit nulla.consectetur adipiscing elit. Consequat aliquet maecenas ut sit lla.consectetur adipiscing elit. Consequat aliquet maecenas ut sit nulla
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="cmt-ct"> <!-- frame 21-->
                            <div class="usr-cmt-photo"><img src="/statics/images/Ava.png" alt=""></div> <!-- ava -->
                            <div class="comment"> <!-- frame 22-->
                                <div class="cmt-head">
                                    <p>Golanginya</p>
                                    <p class="cm-time">5 min ago</p>
                                </div>
                                <div class="cmt-text">
                                    <p class="cmt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat aliquet maecenas ut sit nulla                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="cmt-ct"> <!-- frame 21-->
                            <div class="usr-cmt-photo"><img src="/statics/images/Ava.png" alt=""></div> <!-- ava -->
                            <div class="comment"> <!-- frame 22-->
                                <div class="cmt-head">
                                    <p>Golanginya</p>
                                    <p class="cm-time">5 min ago</p>
                                </div>
                                <div class="cmt-text">
                                    <p class="cmt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat aliquet maecenas ut sit nulla                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="cmt-ct"> <!-- frame 21-->
                            <div class="usr-cmt-photo"><img src="/statics/images/Ava.png" alt=""></div> <!-- ava -->
                            <div class="comment"> <!-- frame 22-->
                                <div class="cmt-head">
                                    <p>Golanginya</p>
                                    <p class="cm-time">5 min ago</p>
                                </div>
                                <div class="cmt-text">
                                    <p class="cmt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat aliquet maecenas ut sit nulla                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="new-comment">
                        <input class="nc-ct" type="text" name="comment" id="" placeholder="write your comment here...">
                        <div class="nc-cm-btn">
                            <img src="/statics/images/icones/Send.svg" alt="">
                            <div>Post</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{{end}}
